[Unit]
Description=Wallboard Server
Documentation=https://github.com/szkotgh/wallboard-server
After=network.target

[Service]
WorkingDirectory=/home/administrator/wallboard-server
ExecStart=/bin/bash /home/administrator/wallboard-server/stater.sh
Restart=always
User=administrator

[Install]
WantedBy=multi-user.target